.contact {
  display: flex;
  width: 90%;
}

._form_wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.51);
  width: 28em;
  height: 28em;
  padding: 2em;
}

.form {
  maxwidth: 100vw;
  margintop: 3em;
  marginbottom: 3em;
}

.submit-btn {
  margin-right: 20px;
  text-decoration: none;
  color: #ffff;
  background-color: #0a0a0a;
  padding: 10px;
  border-radius: 10px;
}
.submit-btn:hover {
  margin-right: 20px;
  text-decoration: none;
  background-color: #59e0c6;
}

.contact_msg {
  font-size: 4rem;
  margin: 5rem;
}

@media (max-width: 1440px) {
  .contact_msg {
    margin: 5rem 5rem 5rem 1rem;
  }
}

@media (max-width: 1024px) {
  .contact {
    display: flex;
    width: 100%;
  }

  ._form_wrapper {
    width: 40rem;
    height: auto;
    margin-left: 4em;
    margin-right: 4em;
    padding: 2em;
  }
}
@media (max-width: 768px) {
  .contact {
    width: 60%;
    margin-left: 10rem;
    margin-right: 4rem;
    margin-bottom: 7em;
    flex-direction: column;
  }
  ._form_wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 2em;
  }
  .contact {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .contact {
    width: 80%;
    margin-left: 3rem;
    margin-right: auto;
    margin-bottom: 7em;
    flex-direction: column;
  }

  .contact_msg {
    font-size: 3rem;
    margin: 2rem;
  }
}

@media (max-width: 425px) {
  .contact {
    margin-left: 2rem;
    margin-right: auto;
    margin-bottom: 7em;
    flex-direction: column;
  }
  .contact_msg {
    font-size: 3rem;
    margin: 1rem;
  }
}
