nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  transform: translate3d(0,0,0);
  top: 8%;
  margin-left: 10vw;
  margin-right: auto;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  
}

@media screen and (max-width: 768px) {
  /* Cambia el número en max-width según sea necesario */
  nav {
    width: 15%; 
    max-width: 100%; /* Evita que se haga más ancho que el 100% del viewport */
    margin-left: 10vw;
    margin-right: auto;
    margin-top: -5vh;
    margin-bottom: 10vh;
  }
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #7E7D7D;
}
nav a:hover {
  margin-right: 20px;
  text-decoration: none;
  color: #59E0C6;
}
nav a.active {
  color: #59E0C6;
}